@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Header" />
<section id="home" class="mb-5 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pe-5 h-100 my-auto">
                    <div class="home-left-text-content">
                        <h4 class="green-text mb-3">Reen Bank</h4>
                        <h1 class="text-light">Banking made Personal.</h1>
                        <h2 class="text-light mt-4">Life Should be easy, <br> and easy is what you get with us!</h2>
                        <p class="text-light">We will help you manage your money and transactions easily
                            <br> anywhere and anytime without having to leave your house!
                        </p>
                        <div class="home-buttons mt-5">
                            <a href="" class="btn green-btn fs-5 ps-4 pe-4">Get Started</a>
                            <a href="" class="btn text-light fs-5">Learn more &nbsp;<i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 text-end hero-images-container">
                    <img src="images/people.png" alt="main-image" class="img-fluid">
                    <img src="images/atmCard.png" alt="atm card" class="atmCard">
                </div>
            </div>
        </div>
    </section>
    

    <section id="info">
        <hr class="w-50 m-auto">
        <div class="content-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <h1 class="text-light fs-1">5400+ <span class="green-text fs-6">Users Active</span></h1>
                    </div>
                    <div class="col-lg-4 text-center">
                        <h1 class="text-light fs-1">100m+ <span class="green-text fs-6">Transactions</span></h1>
                    </div>
                    <div class="col-lg-4 text-center">
                        <h1 class="text-light fs-1">320+ <span class="green-text fs-6">Companies Trust Us</span></h1>
                    </div>
                </div>
            </div>
        </div>
        <hr class="w-50 m-auto">
    </section>


    <section id="services">
        <div class="content-box">
            <div class="container">
                <div class="col text-center">
                    <h2 class="text-light">We Provide the Best Services for you</h2>
                    <p class="text-light">Making it easy for you to manage your own moneys</p>
                </div>

                <div class="row pt-5">
                    <div class="col-lg-4">
                        <div class="card p-4 grey-bg">
                            <div class="icon-container green-bg">
                                <i class="bi bi-lock-fill text-light fs-4"></i>
                            </div>
                            <h4 class="text-light pt-3">Guaranteed Security</h4>
                            <hr class="text-light w-25">
                            <p class="text-light">Security is important to us, so we prioritize it and ensure our users don't have to worry about their savings</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card p-4 grey-bg">
                            <div class="icon-container green-bg">
                                <i class="bi bi-currency-dollar text-light fs-4"></i>
                            </div>
                            <h4 class="text-light pt-3">Free Transactions</h4>
                            <hr class="text-light w-25">
                            <p class="text-light">Security is important to us, so we prioritize it and ensure our users don't have to worry about their savings</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card p-4 grey-bg">
                            <div class="icon-container green-bg">
                                <i class="bi bi-lock-fill text-light fs-4"></i>
                            </div>
                            <h4 class="text-light pt-3">Guaranteed Security</h4>
                            <hr class="text-light w-25">
                            <p class="text-light">Security is important to us, so we prioritize it and ensure our users don't have to worry about their savings</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features">
        <div class="content-box">
            <div class="container">
                <h2 class="text-center">Features</h2>
                <hr class="w-50 m-auto">
                <div class="row pt-5">
                    <div class="col-lg">
                        <img src="images/cards.png" alt="cards" class="img-fluid">
                    </div>
                    <div class="col-lg">
                        <h3>Some Things You Can do with Reen Bank</h3>
                        <div class="darker-grey-bg d-flex align-items-center p-3 mt-3 rounded-4">
                            <div class="icon-container green-bg">
                                <i class="bi bi-wallet-fill"></i>
                            </div>
                            <div class="text ms-3 pt-4">
                                <h6>E-Wallet</h6>
                                <p>Digital Wallet</p>
                            </div>
                        </div>
                        <div class="grey-bg d-flex align-items-center p-3 mt-3 rounded-4">
                            <div class="icon-container green-bg">
                                <i class="bi bi-wallet-fill"></i>
                            </div>
                            <div class="text ms-3 pt-4">
                                <h6>E-Wallet</h6>
                                <p>Digital Wallet</p>
                            </div>
                        </div>
                        <div class="darker-grey-bg d-flex align-items-center p-3 mt-3 rounded-4">
                            <div class="icon-container green-bg">
                                <i class="bi bi-wallet-fill"></i>
                            </div>
                            <div class="text ms-3 pt-4">
                                <h6>E-Wallet</h6>
                                <p>Digital Wallet</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="testimonials">
        <div class="content-box">
            <div class="container">
                <h2 class="text-center">What People are Saying about Us</h2>
                <hr class="w-50 m-auto">
                <div class="row pt-5">
                    <div class="col-lg-4">
                        <div class="card p-4 darker-grey-bg">
                            <div class="icon-container pt-5">
                                <h1 class="quote green-text">"</h1>
                            </div>
                            <p class="text-light">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, nihil. Distinctio aliquam numquam qui omnis esse repellendus earum. Qui, veniam.</p>
                            <div class="person">
                                <img src="images/testimonial.jpg" alt="testimonial person" class="img-fluid">
                                <h5 class="text-light ms-3">Ayodele Joshua</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card p-4 grey-bg">
                            <div class="icon-container pt-5">
                                <h1 class="quote green-text">"</h1>
                            </div>
                            <p class="text-light">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, nihil. Distinctio aliquam numquam qui omnis esse repellendus earum. Qui, veniam.</p>
                            <div class="person">
                                <img src="images/testimonial.jpg" alt="testimonial person" class="img-fluid">
                                <h5 class="text-light ms-3">Ayodele Joshua</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card p-4 darker-grey-bg">
                            <div class="icon-container pt-5">
                                <h1 class="quote green-text">"</h1>
                            </div>
                            <p class="text-light">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, nihil. Distinctio aliquam numquam qui omnis esse repellendus earum. Qui, veniam.</p>
                            <div class="person">
                                <img src="images/testimonial.jpg" alt="testimonial person" class="img-fluid">
                                <h5 class="text-light ms-3">Ayodele Joshua</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<partial name="_Footer" />