<footer>
        <div class="grey-bg pt-5 pb-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="~/images/reenBankWhite.png" alt="logo" class="footer-logo mb-3">
                        <p>Banking Made personal</p>
                        <div class="footer-icons mt-4">
                            <a href=""><i class="bi bi-github green-text"></i></a>
                            <a href=""><i class="bi bi-twitter green-text"></i></a>
                            <a href=""><i class="bi bi-envelope-at green-text"></i></a>
                            <a href=""><i class="bi bi-youtube green-text"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg">
                                <h6>Quick Links</h6>
                                <a href="" class="green-text">Home</a><br>
                                <a href="" class="green-text">About</a><br>
                                <a href="" class="green-text">Login</a>
                            </div>
                            <div class="col-lg">
                                <h6>Quick Links</h6>
                                <a href="" class="green-text">Home</a><br>
                                <a href="" class="green-text">About</a><br>
                                <a href="" class="green-text">Login</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h6>Office</h6>
                        <p>No. 1, Office Street, Abuja</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="green-bg pt-4 pb-3">
            <div class="container text-center">
                <p>Copyright &copy; Reen Bank | Designed & developed by <a href="https://github.com/MaureenMOguche" target="_blank">Maureen Oguche</a></p> 
            </div>
        </div>
    </footer>